/* Colors:
 * ======================================================================== */

// Background colors:
$color--white: #ffffff;
$color--black: #000000;

// Font colors:
$color-font--primary: #211229;

// Accent colors:
$color-accent--lavender: #bbacff;
$color-accent--indigo: #819cda;
$color-accent--aqua: #c8dbff;
$color-accent--ivory: #efefef;
