@import url('./functions.scss');

/* Mixin: Flex properties
 * ======================================================================== */

@mixin flex($align-items, $justify-content, $flex-direction) {
    align-items: $align-items;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

/* Mixin: Maximum layout width
 * ======================================================================== */

@mixin layout($width) {
    margin: 0 auto;
    max-width: rempx(1200px);
    width: 100%;
}

/* Mixin: Frosted glass effect
 * ======================================================================== */

@mixin frostedGlass() {
    backdrop-filter: blur(7.5px);
    background: rgba(255, 255, 255, 0.45);
    border-color: $color--white;
    border-style: solid;
    border-width: rempx(2px);
    transition: 0.25s ease-in-out;
}

/* Mixin: Gradient effects
 * ======================================================================== */

@mixin glow($gradient) {
    background: $gradient;
    border-radius: rempx(20px);
    content: '';
    filter: blur(100px);
    height: rempx(600px);
    opacity: 0.7;
    position: absolute;
    transform: skewY(-15deg) scale(0.45);
    transform-origin: center center;
    transition: 0.25s ease-in-out;
    width: rempx(600px);
}

@mixin navGlow() {
    background: linear-gradient(
        to right,
        $color-accent--ivory,
        $color-accent--aqua,
        $color-accent--lavender,
        $color-accent--aqua,
        $color-accent--ivory
    );
    border-bottom-left-radius: rempx(70px);
    border-bottom-right-radius: rempx(70px);
    filter: blur(rempx(15px));
    height: rempx(60px);
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.45;
    right: 0;
    transition: 0.25s ease-in-out;
    width: rempx(600px);
}

@mixin glowHover() {
    transform: skewY(-10deg) scale(0.55);
}
